#project-container{
    text-align: center;
    height: calc(100% - 100px);
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}
#projecttitle{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 20px;
}
#projecttagline{
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 3vh;
}
.projectform{
    color: #F1F5F6;
    border: none;
    background: none;
}

/*Project Toolbar*/
#project-toolbar{
    margin-bottom: 10px;
    height: 70px;
    min-height: 70px;
    display: block;
}
.project-tool{
    color: #F1F5F6;
    background-color: #28282B;
    border: 3px solid #F1F5F6;
    margin: 0 20px;
    font-size: 26px;
    height: 50px;
    padding: 10px;
    transition: all 0.1s ease;
}
.project-tool:hover{
    cursor: pointer;
    color: #28282B;
    background-color: #F1F5F6;
}

/*Project Pages*/
.project-pages{
    display: flex;
    flex-direction: column;
    width: 60px;
}
.project-page{
    font-size: 25px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
}
.project-page:hover{
    cursor: pointer;
    background: #F1F5F6;
    color: #28282B;
}
.project-pages .selected{
    background: #F1F5F6;
    color: #28282B;
}

/*Project Info*/
#project-info{
    width: calc(100% - 10px);
    display: flex;
    min-width: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
}
.project-info-column{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
.project-field{
    width: 40vw;
    min-width: 400px;
    /*min-height: 200px;*/
    padding: 20px;
}
.project-field-name{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

/*Project Log*/
#project-log{
    padding: 0;
    list-style-type:none;
}
#project-log li{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    /* height: 40px; */
    font-size: 16px;
    transition: all 0.1s ease;
}
#project-log .glyphicon{
    height: 40px;
    width: 40px;
    background: #F1F5F6;
    color: #28282B;
    text-align: center;
    border-radius: 40px;
    line-height: 40px;
}
#project-log p{
    text-align: left;
    width: calc(100% - 50px);
    margin-left: 10px;
    line-height: 40px;
    /* overflow: auto; */
}
.loghighlight{
    font-weight: bold;
}

/*Project Tasks*/
#project-tasks{
    margin-top: 10px;
    padding: 0;
    list-style-type:none;
}
#project-tasks li{
    padding-left: 10px;
    transition: all 0.1s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
    font-size: 16px;
}
#project-tasks li span{
    cursor: pointer;
}
#project-tasks p{
    max-width: calc(100% - 40px);
    word-wrap: break-word;
    padding: 0 10px;
}
.checked p{
    text-decoration: line-through;
}
.checked{
    filter: sepia(100%);
}

/*Project Link*/
#project-links{
    margin-top: 10px;
    padding: 0;
    list-style-type:none;
}
#project-links li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 0.1s ease;
    margin: 5px 0;
    font-size: 16px;
}
#project-links a{
    text-decoration: none !important;
}
#project-links a:link {
    text-decoration: none;
}
#project-links a:visited {
    text-decoration: none;
}
#project-links a:hover{
    color: #cccccc;
}
#project-links p{
    /* max-width: calc(100% - 40px); */
    padding: 0 10px;
    word-wrap: break-word;
}

/*Project Notes*/
#project-notes{
    margin-top: 10px;
    padding: 0;
    list-style-type:none;
}
#project-notes li{
    text-align: left;
    transition: all 0.1s ease;
    margin: 5px 0;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#project-notes p{
    max-width: calc(100% - 20px);
    word-wrap: break-word;
    padding: 0 10px;
}
#project-notes span:hover{
    cursor: pointer;
}
