@import "_flipster";

/*Quote*/
#quotes{
    width: 50vw;
    max-width: 500px;
    min-width: 200px;
    margin: 0 auto;
}
.blockquote{
    padding: 0 10px;
}
.blockquote-footer{
    color: #ccc;
}

/*Flipster tag*/
#flipster-tags{
    margin-top: 5vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 15px;
    justify-content: center;
}
.flipster-tag{
    border: 2px solid #F1F5F6;
    background: #F1F5F6;
    color: #28282B;
    padding: 5px;
    margin: 0 5px;
    transition: all 0.1s ease;
}
#flipster-tags .unselected{
    background: #28282B;
    color: #F1F5F6;
}
.flipster-tag:hover{
    cursor: pointer;
    /* background: black; */
    /* color: white */
}

/*Panels*/
.flip-content{
    display: table;
    width: 100%;
    height: 100%;
}
.flipster {
    height: 50%;
    width: 50%;
}
.flipster ul{
    width: 40vh !important;
    height: 40vh !important;
    max-width: 400px;
    max-height: 400px;
    min-height: 200px;
    min-width: 200px;
}
.flipster ul li {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Individual Panel*/
.boxoutside{
    border:10px solid #ffffff00;
    display: flex;
    height: 100%;
    // width: 100%;
    flex-direction: column;
    justify-content: space-around;
    transition: border 0.1s ease;
}
.boxoutside:hover{
    cursor: pointer;
}
.project-name{
    font-weight: bold;
    transition: all 0.1s ease;
}
.project-name:hover{
    opacity: 0.5;
    cursor: pointer;
}
#add-project-name:hover{
    opacity: 1;
    cursor: auto;
}
.tag-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.tag{
    background: #F1F5F633;
    font-weight: bold;
    padding: 10px;
}

/*Add Projects*/
.addbox{
    border:10px solid rgba(255,255,255,0);
    display: flex;
    height: 100%;
    // width: 100%;
    flex-direction: column;
    justify-content: space-around;
    color:#28282B;
    transition: border 0.1s ease;
}
.project-add{
    background: none;
    border: 1px solid #28282B;
    margin: 0 auto;
    color:#28282B;
    width: 100px;
    font-weight: bold;
}
.project-add:hover{
    background-color: #28282B;
    color:#F1F5F6;
}

/*Project Toolbar*/
.flipster-toolbar{
    margin-top: 5vh;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.flipster-tool{
    color: #F1F5F6;
    background-color: #28282B;
    border: 3px solid #F1F5F6;
    margin: 0 20px;
    font-size: 26px;
    height: 50px;
    padding: 10px;
    transition: all 0.1s ease;
}
.flipster-tool:hover{
    cursor: pointer;
    color: #28282B;
    background-color: #F1F5F6;
}