/*
Dependencies
*/
@import "stylesheet";
@import "colors";
@import "font/fontawesome";

/* General */
*{
	margin:0;
	padding:0;
}
html{
	background: $background;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
body{
	background: $background;
	width: 100vw;
	height: 100vh;
	font-family: 'Nunito Sans', sans-serif;
	color: $primary;
}
.center {
	text-align: center;
	width: auto;
}
.icon{
	color: $primary;
}
p, h1, h2, h3, h4, h5{
	margin: 0;
}


/*Header*/
#toptitle-container{
	width: 100%;
	text-align: center;
	position:absolute;
	top:20px;
}
#toptitle {
	margin: 0 auto;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	width: calc(100% - 80px);
	z-index: 0;
}
#toptitle:hover{
	cursor: pointer;
}
#toplogo{
	height: 15px;
	width: 15px;
	position:absolute;
	left:20px;
	top:18px;
	z-index: 2;
}
#winclose{
	height: 15px;
	width: 15px;
	position:absolute;
	right:15px;
	top:20px;
	z-index: 2;
}
#winclose:hover{
	cursor: pointer;
}

/*Loader*/
.loader {
	border: 5px solid $background;
	border-top: 5px solid $primary;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	display: inline-block;
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

/*Inside Panels*/
.boxcontainer{
	margin-top: 50px;
	display: table;
	width: 100vw;
	height: calc(100vh - 100px);
}
.innerbox{
	width: 100%;
	height: 100%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

/*Scrollbar*/
::-webkit-scrollbar-track
{
	background-color: $background;
}

::-webkit-scrollbar
{
	width: 6px;
	margin-right: -6px;
	background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	background: $primary;
}