/*Form*/
.title {
  color: #F1F5F6; }

.add {
  width: 300px;
  display: inline-block; }

#adderrors {
  color: #f44242 !important;
  font-weight: normal; }

.addform {
  border: none;
  background: none; }

.addform, select, textarea {
  color: #F1F5F6; }

/*Buttons*/
.white, .white a {
  color: #F1F5F6; }

.button {
  background: none;
  border: 1px solid #F1F5F6;
  margin-left: 10px;
  margin-right: 10px; }

.button:hover {
  background-color: #F1F5F6;
  color: #28282B; }
