#statsTitle {
  margin-bottom: 5vh; }

/*Panels*/
.flip-content {
  display: table;
  width: 100%;
  height: 100%; }

.flipster {
  height: 50%;
  width: 50%; }

.flipster ul {
  width: 40vh !important;
  height: 40vh !important;
  max-width: 400px;
  max-height: 400px;
  min-height: 200px;
  min-width: 200px; }

.flipster ul li {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/*Restore Projects*/
.project {
  border: 10px solid rgba(255, 255, 255, 0);
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  color: #28282B;
  transition: border 0.1s ease; }

.project-name {
  font-weight: bold; }

.project-restore {
  background: none;
  border: 1px solid #28282B;
  margin: 0 auto;
  color: #28282B;
  width: 100px;
  font-weight: bold; }

.project-restore:hover {
  background-color: #28282B;
  color: #F1F5F6; }

.chart-container {
  height: 80%;
  width: 80%;
  margin: 0 auto; }

/*Project Toolbar*/
.flipster-toolbar {
  margin-top: 5vh;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.flipster-tool {
  color: #F1F5F6;
  background-color: #28282B;
  border: 3px solid #F1F5F6;
  margin: 0 20px;
  font-size: 26px;
  height: 50px;
  padding: 10px;
  transition: all 0.1s ease; }

.flipster-tool:hover {
  cursor: pointer;
  color: #28282B;
  background-color: #F1F5F6; }
