#toplogo:hover {
  cursor: pointer; }

#project-container {
  text-align: center;
  height: calc(100% - 50px);
  margin-top: 50px;
  width: 100%;
  padding: 0 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.projectform {
  color: #F1F5F6;
  border: none;
  background: none; }

.project-field {
  flex: 1;
  overflow: auto;
  display: none;
  margin-top: 5px;
  margin-bottom: 0;
  list-style-type: none;
  overflow-y: scroll;
  padding: 10px 0; }

/*Project Tasks*/
#project-tasks li {
  padding-left: 10px;
  transition: all 0.1s ease;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px 0;
  font-size: 16px;
  width: calc(100% - 10px); }

#project-tasks li span {
  cursor: pointer; }

#project-tasks p {
  max-width: calc(100% - 40px);
  word-wrap: break-word;
  padding: 0 10px; }

.checked p {
  text-decoration: line-through; }

.checked {
  filter: sepia(100%); }

/*Project Notes*/
#project-notes li {
  transition: all 0.1s ease;
  margin: 2px 0;
  width: calc(100% - 10px);
  font-size: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

#project-notes p {
  max-width: calc(100% - 20px);
  word-wrap: break-word;
  padding: 0 10px; }

#project-notes span:hover {
  cursor: pointer; }
