//- Header

meta(charset="utf-8")
meta(name="viewport",content="width=device-width, initial-scale=1.0") 
title="Haven"

link(rel="stylesheet" type="text/css" href="./css/stylesheet.css")
//- link(rel="stylesheet" type="text/css" href="./css/font-awesome.css")
link(rel="stylesheet" type="text/css" href="./css/jquery.flipster.min.css")
link(rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css")
link(rel="stylesheet" type="text/css" href="./css/bootstrap.min.css")
link(rel="stylesheet" type="text/css" href="./css/styles.css")

script(src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js")
script(src="./js/jquery.min.js")
script(src="./js/scripts.js")