<div id="toptitle-container"><h1 id="toptitle" style="-webkit-app-region: drag;">HAVEN</h1></div><img id="toplogo" src="img/haven.png"/><div class="glyphicon glyphicon-remove icon" id="winclose"></div>