doctype html
html
    head
        include includes/header.pug
        link(rel="stylesheet" type="text/css" href="./css/add.css")
        script(src="./js/add.js")

    body
        include includes/top.pug

        .boxcontainer
            .innerbox
                .add
                    h3.title Add Project
                    label#adderrors
                    br
                    .input-group
                        span.input-group-addon Name
                        input#name.form-control.addform(type="text" name="name" placeholder="Name")
                    
                    br
                    .input-group
                        span.input-group-addon Tagline
                        input#tagline.form-control.addform(type="text" name="tagline" placeholder="Short description")

                    br
                    .input-group
                        span.input-group-addon Tag
                        input#tag.form-control.addform(type="text" name="tag" placeholder="Add a category")

                    br
                    .input-group
                        span.input-group-addon Color
                        input#color.form-control.addform(type="color" name="color" value="#FFFFFF" )

                    br
                    button#submit.btn.button(type="submit" onclick="createProject()") Create