doctype html
html
    head
        include includes/header.pug
        link(rel="stylesheet" type="text/css" href="./css/archive.css")
        script(src="./js/jquery.flipster.min.js")
        script(src="./js/archive.js")

    body
        include includes/top.pug

        .boxcontainer
            .innerbox
                .loader

                .flipsterhaven(style="display: none;")
                    h1#archiveTitle Archive
                    div.flipster-outside
                        div.flipster
                            ul#flipster-list
        
                div.flipster-toolbar
                    span.glyphicon.glyphicon-home.flipster-tool(title="Home" onclick="returnHome()")