doctype html
html
    head
        include includes/header.pug
        link(rel="stylesheet" type="text/css" href="./css/index.css")
        script(src="./js/index.js")

    body
        include includes/top.pug
        .boxcontainer
            .innerbox
                .loader(style="display: none")
                .login
                    h3.title Login
                    label#loginerrors
                    br
                    .input-group
                        span#basic-addon1.input-group-addon Email
                        input#email.form-control.loginform(type="email",name="email",placeholder="example@example.com",aria-describedby="basic-addon1")

                    br
                    .input-group
                        span#basic-addon2.input-group-addon Password
                        input#password.form-control.loginform(type="password",name="password",placeholder="password123",aria-describedby="basic-addon2")

                    br
                    button.btn.button(type="submit",onclick="auth()") Log In
                    button.btn.button(type="submit",onclick="register()") Register