doctype html
html
    head
        include includes/header.pug
        link(rel="stylesheet" type="text/css" href="./css/project.css")
        script(src="./js/logs.js")
        script(src="./js/project.js")

    body
        include includes/top.pug

        .boxcontainer
            .innerbox
                .loader

        #project-container(style="display: none")
            h1#projecttitle(contenteditable="true")
            h3#projecttagline(contenteditable="true")
            #project-toolbar
                span.glyphicon.glyphicon-folder-close.project-tool(title="Archive",onclick="archiveProject()")
                span.glyphicon.glyphicon-trash.project-tool(title="Delete",onclick="deleteProject()")
                span.glyphicon.glyphicon-modal-window.project-tool(title="Widget",onclick="widget()")
                span.glyphicon.glyphicon-cog.project-tool(title="Settings",onclick="settings()")
                span.glyphicon.glyphicon-home.project-tool(title="Home",onclick="returnHome()")

            #project-info
                .project-pages
                    span.glyphicon.glyphicon-dashboard.project-page.selected(title="Dashboard",onclick="changePage('Dashboard', this)")
                    span.glyphicon.glyphicon-ok.project-page(title="Tasks",onclick="changePage('Tasks', this)")
                    span.glyphicon.glyphicon-list-alt.project-page(title="Notes",onclick="changePage('Notes', this)")
                    span.glyphicon.glyphicon-th-list.project-page(title="Log",onclick="changePage('Log', this)")
                    span.glyphicon.glyphicon-link.project-page(title="Links",onclick="changePage('Links', this)")

                div.project-info-column
                    div.project-field
                        h3.project-field-nameLinks
                        input#link.form-control.projectform(type="text",name="link",placeholder="github.com/yourrepo")
                        ul#project-links

                    div.project-field
                        h3.project-field-nameLog
                        ul#project-log

                div.project-info-column
                    div.project-field
                        h3.project-field-nameTasks
                        input#task.form-control.projectform(type="text",name="task",placeholder="New task")
                        ul#project-tasks

                    div.project-field
                        h3.project-field-nameNotes
                        input#note.form-control.projectform(type="text",name="note",placeholder="Something to remember")
                        ul#project-notes