doctype html
html
    head
        include includes/header.pug
        link(rel="stylesheet" type="text/css" href="./css/select.css")
        script(src="./js/jquery.flipster.min.js")
        script(src="./js/select.js")

    body
        include includes/top.pug
        .boxcontainer
            .innerbox
                .loader
                
                .flipsterhaven(style="display: none")
                    #quotes
                        blockquote.blockquote
                            p.quote
                            footer.blockquote-footer
            
                    #flipster-tags
                    
                    .flipster-outside
                        .flipster
                            ul#flipster-list
                                li(style='background-color:#ffffff')
                                    div.addbox
                                        h2#add-project-name.project-name New Project
                                        h3.project-tagline Start something great
                                        button.btn.project-add(type="submit",onclick="addProject();") Begin
                        
                    
                    .flipster-toolbar
                        span.flipster-tool(title="Archive",onclick="archive()")
                            i.fas.fa-archive
                        span.glyphicon.glyphicon-stats.flipster-tool(title="Stats",onclick="stats()")
                        span.glyphicon.glyphicon-log-out.flipster-tool(title="Sign Out",onclick="signOut()")
                    
                
            
        