doctype html
html
    head
        include includes/header.pug
        link(rel="stylesheet" type="text/css" href="./css/stats.css")
        script(src="./js/jquery.flipster.min.js")
        script(src="./js/Chart.bundle.min.js")
        script(src="./js/stats.js")

    body
        include includes/top.pug

        .boxcontainer
            .innerbox

                .loader
                
                .flipsterhaven(style="display: none;")
                    h1#statsTitle Stats
                    .flipster-outside
                        .flipster
                            ul#flipster-list
                                li(style="background: #eaa23f")
                                    .project
                                        h2.project-name Other
                                        .chart-container
                                            canvas#otherc(width="400" height="400")
                                        
                                li(style="background: #3feab7")
                                    .project
                                        h2.project-name Projects
                                        .chart-container
                                            canvas#projectsc(width="400" height="400")
                                    
                                li(style="background: #ea3fb9;")
                                    .project
                                        h2.project-name Tasks
                                        .chart-container
                                            canvas#tasksc(width="400" height="400")
                
                .flipster-toolbar
                    <span title="Home" class="glyphicon glyphicon-home flipster-tool" onclick="returnHome()"></span>
            