doctype html
html
    head
        include includes/header.pug
        link(rel="stylesheet" type="text/css" href="./css/widget.css")
        script(src="./js/widget.js")

    body
        include includes/top.pug

        #project-container
            input#inputbar.form-control.projectform(type="text",name="task",placeholder="Type something",autofocus)
            ul#project-notes.project-field
            ul#project-tasks.project-field